@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600&family=Nunito:wght@300;400;600&display=swap');

body, html {

    height: 100%;
    margin: 0;

    font-family: "Nunito", sans-serif;
}

#brand-icon {
    height: 40px;
    width: 40px;
}

#recent-reading {
    background-color: #525252;
}

/* 
@media (min-width: 576px) {
    #text-preview {
        height: 200px;
    }
}

@media (min-width: 576px) {
    #text-preview {
        height: 51px;
    }
}

@media (min-width: 576px) {
    #text-preview {
        height: 51px;
    }
}

@media (min-width: 576px) {
    #text-preview {
        height: 51px;
    }
} */
